<template>
    <div>
        <p v-if="num == 0">{{ num }}</p>
        <p v-else-if="num >0 ">The number is positive</p>
        <p v-else-if="num <0">The number is negative</p>
        <p v-else>The number is lie</p>

        <button v-on:click="awesome= !awesome">Toggle</button>
        <h1 v-if="awesome">Vue is awesome? 🤑</h1>
        <h1 v-else>oh no 😝</h1>


        <!-- The Nested template element-->
       <template>
        <h2 v-if="display">Notice</h2>
        <h2 v-if="display">Thank you</h2>
       </template>
    </div>
</template>

<script>
    export default {
        name: "ConditionalView",
        data() {
            return {
                num: "a",
                awesome:'awesome',
            }
        },
    }
</script>
